{% extends "base.html" %}
{% load static %}

{% block title %} Amount Sheet {% endblock title %}

{% block content %}

            <!-- Simple Post -->
            {% comment %} <section class="simple-post"> {% endcomment %}
              <div class="container-fluid">
                <div class="row">
                  <div class="col-md-12">
                    <img src="{% static 'assets/images/family.jpg' %}" alt="">
                  </div>
                </div>
              </div>
            {% comment %} </section> {% endcomment %}
 
{% endblock content %}